folium==0.20.0
fpdf2==2.7.6
google-generativeai==0.3.1
numpy==1.23.5
pandas==2.0.3
Pillow==10.0.1
plotly==5.17.0
pydantic==2.11.7
pypdf==6.9.2
python-dotenv==1.0.0
requests==2.32.4
streamlit==1.47.1
streamlit-folium==0.26.2
streamlit-lottie==0.0.5
gunicorn==21.2.0
uvicorn==0.24.0
